<!DOCTYPE html>

<html>
    <head>
        <title>Hello World</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1,h2,h3{
                font-family: Schadow BT;
            }
            
        </style>
    </head>
    <body>
        <div>
            <h1>Hello, this is my first Spring boot app !!</h1>
            <h2>If you can see this message, it means program is working perfectly!!!</h2>
            <h3>So basically, this is very simple program to do, but it may take time for starter or completely, who is new in spring boot framework!!</h3>
        </div>
    </body>
</html>
